seletor universal
/* *{
   
} */

/* seletor de texto */
h1{
    color: green;
}

/* seletor de classe */

.verde{
 color: green;
}

p.verde{
color: green;
}

/* seletor de ID */
#cabecalho{
    border: 1px solid blue;
}

/* seletor de filho */

li>a{
    color: red;
    text-decoration: none;
}

/* seletor de descendente */

div a {
    color: green;
}

/* seletor de irmão adjacente */

h1+p{
    color: red;
}

/* seletor de irmão geral */

h1~p{
    color: pink;
}